html,body{
            margin: 0px;
            padding: 0px;
}
body{
            display: block;
}
.content1{
   display: flex;
   justify-content: space-around;
   width: 80%;       
   margin: auto;
   padding: 3%;  
}
.content1 img {
  height: 150px;
  width: 150px;          
}
.content1 h2{
  color: #0088A2 ; 
  text-transform: uppercase;
  font-weight: normal;
  font-size: 52px;
  line-height: 52px;
}
nav{
  width: 100%;  
  margin-top: 3%; 
  background-color: gray;       
}
nav ul{
  display: flex;
  justify-content: space-around;  
  list-style-type: none;
  width: 95%;        
}
ul a{
  width: 20%;
  font-size: 28px;
  font-style: normal;
  font-weight: normal;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: aliceblue;
}
.cards{
            justify-content: space-around;
            margin: auto;
            margin-top: 3%;
            width: 96%;
            display: flex;
            margin-left: 2%;
           
}
.card{
   position: relative;  
   width: 30%;       
}
.card img{
   width: 100%;         
}
.cards .card p{
   position: absolute;
   top: 35%;
   color: aliceblue;
   text-align: right;
   font-size: 20px;
   font-weight: 50%;
   font-style: normal;
   line-height: 33px;
   align-items: center;
   width: 90;
   margin-left: 20%;
   

}
section{
    margin-top: 3%;   
    width: 95%;  
    border-top: 4px solid  #E5E5E5;
}
section h3{
    text-align: center; 
    color: #0088A2; 
    font-size: 56px; 
    font-weight: normal;
    font-style: normal;
    line-height: 70%;

}
.video{
    width: 95%; 
    margin: auto;   
    position: relative;  
    margin-left: 5% ;  
}
.video .vodo{
   width: 100%;        
}
.video .boton{
            position: absolute;
            left: 45%;
            top: 40%;
            cursor: pointer;

}
.pups{
    margin: auto; 
    padding-top: 10%;     
    width: 75%;  
    height: 700px;
    position: relative;
}
.pups img{
    position: absolute;
    height: 570px;
    width: 310px;
    z-index: 1; 
    align-content: center;       
}
.pups img:nth-child(2n){
            top: 234px;
            left: 200px; 
            z-index: 2;       
}
.pups img:nth-child(3){
    left: 400px;    
    z-index: 3;    
}
.pups img:nth-child(4){
            left: 600px;
            top: 234px;
            z-index: 4;
}
.pups img:nth-child(5){
            left: 800px;
            z-index: 5;
}


#menu_toggle{
  opacity: 0;
}
.menu_btn{
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;

}
.menu_btn >span,
.menu_btn >span::before,
.menu_btn >span::after{
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: gray;
  transition: .2s;
  z-index: 2;
}
.menu_btn > span::before{
  top: -8px; 
  content: '';       
} 
.menu_btn > span::after{
  top: 8px;
  content: '';        
}
.menu_box{
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100px;
  background-color: teal;
  width: 300px;
  height: 35%;
  margin: 0;
  padding:80px 0;
  list-style: none;
  text-align: center;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .3)  ;
  transition: .2s;
  z-index: 1;
}
.menu_item{
  display: block;
  padding: 12px 24px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  transition: .0s;        
}
.menu_item:hover{
  background-color: rgb(3, 154, 214);
  width: 100%;        
}
#menu_toggle:checked ~ .menu_btn > span{
  transform: rotate(45deg);        
}
#menu_toggle:checked ~ .menu_btn > span::before{
 transform: rotate(0deg);
  top:0;
}
#menu_toggle:checked ~ .menu_btn > span::after{
      transform: rotate(90deg);
     top:0;
}
#menu_toggle:checked ~ .menu_box{
    visibility: visible;
    left: 0px;
    z-index: 3;

              
}



@media screen and (max-device-width:640px){
  .content1{
    display: inline-block;
    position: relative; 
    margin: 0px 0%; 
 }
 .content1 img {
   height: 300px;
   width: 300px;
   margin-left:10% ;          
 }
 .content1 h2{
   color: #0088A2 ; 
   text-transform: uppercase;
   font-weight: normal;
   font-size: 52px;
   line-height: 52px;
 }
 nav{
   width: 100%;  
   margin-top: 3%; 
   background-color: gray;       
 }
 nav ul{
   display: flex;
   justify-content: space-around;  
   list-style-type: none;
   width: 95%;        
 }
 ul a{
   width: 20%;
   font-size: 28px;
   font-style: normal;
   font-weight: normal;
   line-height: 40px;
   text-align: center;
   text-decoration: none;
   color: aliceblue;
 }
 .cards{
             justify-content: space-around;
             margin: auto;
             margin-top: 3%;
             width: 96%;
             display: flex;
             margin-left: 2%;
            
 }
 .card{
    position: relative;  
    width: 30%;       
 }
 .card img{
    width: 100%;         
 }
 .cards .card p{
    position: absolute;
    top: 35%;
    color: aliceblue;
    text-align: right;
    font-size: 20px;
    font-weight: 50%;
    font-style: normal;
    line-height: 33px;
    align-items: center;
    width: 90;
    margin-left: 20%;
    
 
 }
 section{
     margin-top: 3%;   
     width: 95%;  
     border-top: 4px solid  #E5E5E5;
 }
 section h3{
     text-align: center; 
     color: #0088A2; 
     font-size: 56px; 
     font-weight: normal;
     font-style: normal;
     line-height: 70%;
 
 }
 .video{
     width: 95%; 
     margin: auto;   
     position: relative;  
     margin-left: 5% ;  
 }
 .video .vodo{
    width: 100%;        
 }
 .video .boton{
             position: absolute;
             left: 45%;
             top: 40%;
             cursor: pointer;
 
 }
 .pups{
     display: none; 
     margin: auto; 
     padding-top: 10%;     
     width: 75%;  
     height: 700px;
     position: relative;
 }
 .pups img{
     position: absolute;
     height: 570px;
     width: 310px;
     z-index: 1; 
     align-content: center;       
 }
 .pups img:nth-child(2n){
             top: 234px;
             left: 200px; 
             z-index: 2;       
 }
 .pups img:nth-child(3){
     left: 400px;    
     z-index: 3;    
 }
 .pups img:nth-child(4){
             left: 600px;
             top: 234px;
             z-index: 4;
 }
 .pups img:nth-child(5){
             left: 800px;
             z-index: 5;
}

